<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Django Pell</title>

  <style>
    body {
      font-family: "Roboto";
      margin: 0px;
      padding: 0px;
    }
    .header {
      font-size: 2rem;
    }
    .layout-grid {
      display: grid;
      align-items: center;
      grid-template-rows: auto auto;
      max-width: 100vw;
    }
    .layout-grid__header {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      font-size: 2rem;
      justify-self: center;
      align-items: center;
      justify-items: center;
    }
    @media only screen and (max-width: 768px) {
      .layout-grid {
        display: grid;
        align-items: center;
        grid-template-rows: auto auto;
        max-width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
      }
      .layout-grid__header__img {
        display: none;
      }
      .layout-grid__header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        font-size: 2rem;
        justify-self: center;
        align-items: center;
        justify-items: center;
      }
    }
    .layout-grid__header__img {
      justify-self: start;
      margin-left: 20px;
      max-width: 80px;
    }
    .layout-grid__editor {
      justify-self: center;
    }
    .pell-editor {
      min-width: 80vw;
      min-height: 80vh;
    }
    .helptext {
      font-size: 0.8rem;
      color: dimgrey;
    }
  </style>

  {{ form.media }}
</head>

<body>
	<section class="layout-grid">
    <div class="layout-grid__header">
      <h1>Django Pell</h1>
      <img
        class="layout-grid__header__img"
        src="https://raw.githubusercontent.com/jaredreich/pell/master/images/logo.png" alt="">
    </div>
    <div class="layout-grid__editor">
  		{{ form.as_p }}
    </div>
	</section>
</body>
</html>
